<launch>
    <!--node pkg="tf2_ros" type="static_transform_publisher" name="static_transform_publisher_node" args="0 0 0 0 0 0 /quadruped/base_link /base"/-->
    <!--node pkg="tf2_ros" type="static_transform_publisher" name="static_transform_publisher_node_2" args="0 0 0 0 0 0 /map /mocap_world" /-->

    <!-- Elevation mapping node -->
    <node pkg="elevation_mapping_cupy" type="elevation_mapping_node" name="elevation_mapping" output="screen">
        <rosparam command="load" file="$(find elevation_mapping_cupy)/config/setups/aliengo/core_param.yaml"/>
        <rosparam command="load" file="$(find elevation_mapping_cupy)/config/setups/aliengo/example_setup.yaml"/>
    </node>

    <!-- Launch the plane decomposition node. -->
    <include file="$(find convex_plane_decomposition_ros)/launch/convex_plane_decomposition.launch">
        <arg name="parameter_file" value="$(find convex_plane_decomposition_ros)/config/aliengo/parameters.yaml"/>
        <arg name="node_parameter_file" default="$(find convex_plane_decomposition_ros)/config/aliengo/node.yaml"/>
    </include>
</launch>